html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #2600ffff, #23058dff);
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}
@media (max-width: 720px) {
    .hero-section {
        height: 60vh;
    }
}
h1 {
    font-size: clamp(2em, 5vw, 4em);
    margin: 0;
    display: flex;
    flex-direction: row;
    color: #070141ff;
}
.hero-section p {
    font-size: clamp(1em, 2.5vw, 3em);
    margin: 0;
    color: #333333;
    text-align: center;
    padding: 10px 20px;
}
.btn {
    cursor: pointer;
}
.btn-primary {
    background: repeating-linear-gradient(to bottom, #FF7700, #BA00FF);
    background-size: 100% 200%;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
@media (max-width: 720px) {
    .btn-primary {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}
.btn-primary:hover {
    transform: scale(1.20);
    transition: transform 0.3s ease-in-out;
}
.tentang-saya, .layanan, .tahapan, .kontak {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.tentang-saya p {
    font-size: clamp(1.2em, 2.5vw, 2em);
    margin: 20px auto;
    max-width: 600px;
    color: #222222;
    text-align: center;
    padding: 15px;
}
h2 {
    text-align: center;
    color: #070141ff;
    background-color: rgba(0, 38, 255, 1);
    padding: 10px;
    margin: 0.8em auto 0.5em auto;
    max-width: 300px;
    border-radius: 10px;
    font-size: clamp(1.5em, 3vw, 2em);
}
@media (max-width: 720px) {
    h2 {
        font-size: clamp(1.2em, 4vw, 2em);
    }
}
.layanan ul {
    text-align: left;
    max-width: 820px;
    margin: 20px;
    padding: 15px 15px;
    color: #222222;
    border-radius: 10px;
    list-style-position: inside;
    font-size: clamp(1em, 2vw, 1.5em);
}
.contoh-web {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
@media (max-width: 1024px) {
    .contoh-web {
        height: auto;
        margin: 30px 0;
    }
}
.web-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.web-item {
    margin: 20px;
    padding: 20px;
    background-color: #0028ffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
.web-item h3 {
    color: #070141ff;
}
.web-item p {
    color: #222222;
}
.web-item a {
    background-color: #11006eff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    bottom: 10px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
.web-item a:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out;
}
.web-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}
.tahapan ol {
    text-align: left;
    max-width: 1000px;
    margin: 20px;
    padding: 15px 15px;
    color: #222222;
    border-radius: 10px;
    font-size: clamp(1em, 2vw, 1.5em);
    list-style-position: inside;
    background-color: #0028ffff;
}
.tahapan ol li {
    margin-bottom: 15px;
}
.kontak p {
    font-size: clamp(1.2em, 2.5vw, 2em);
    margin: 20px;
    max-width: 600px;
    color: #222222;
    text-align: center;
    padding: 15px;      
    background-color: #0028ffff;
    border-radius: 10px;                                                                                                                                                                                                                                                                                                                                                        
}
.kontak {
    height: auto;
}
.footer {
    height: auto;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    background-color: #11006eff;
    border-radius: clamp(1rem, 2vw, 2em);
    width: 100vw;
    box-sizing: border-box;
}
@media (max-width: 720px) {
    .tentang-saya, .layanan, .tahapan, .kontak, .footer {
        height: auto;
        margin: 30px 0;
    }
}